body{
    background-color: black;
}

@font-face {
    font-family: 'Bradley Gratis';
    src: url("../bradley_gratis/Bradley\ Gratis.ttf");
}

h1{
    font-family: 'Bradley Gratis';
    color: white;
    text-align: center;
}