body{
    background-color: black;
}

@font-face {
    font-family: 'Bradley Gratis';
    src: url("../bradley_gratis/Bradley\ Gratis.ttf");
}

h1{
    font-family: 'Bradley Gratis';
    color: white;
    text-align: center;
}

h2{
    font-family: 'Bradley Gratis';
    color: rgb(156, 156, 156);
}

p{
    color:white;
}
.card{
    filter: grayscale(100%);
}